.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility .6s, opacity .6s;
  z-index: 1;

  &_opened {
    visibility: visible;
    opacity: 1;
  }

  &__form {
    background: #fff;
    width: 430px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 16px;
    padding: 34px 0 28px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 479px) {
      padding: 16px 0 28px 0;
      width: 100%;
      top: 44%;
      height: 100%;
      margin-top: 150px;
    }
  }

  &__close-button {
    background: transparent;
    width: 40.7px;
    height: 40.7px;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: -30px;

    @media screen and (max-width: 479px) {
      top: -38px;
      right: -4px;
    }

    &:hover {
      opacity: 0.6;
    }

    &-icon {
      width: 40.7px;
      height: 40.7px;
    }
  }
}
